$color1: #79B;
$color2: #031b33;
$link: #04388E;
$linkHover: #D81413;
$font: 'Open Sans', sans-serif;

$xs: 0px;
$sm: 768px;
$md: 1010px;

@import "base";

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400|Source+Code+Pro:400,700");

html {
  overflow-y: scroll;
}

body {
  background-color: #eee;
  font-family: $font;
  text-align: center;
  color: #111;
  font-size: 14px;
}

#main {
  background-color: #fff;
  border-bottom: 5px solid #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  padding: 0 20px;
  text-align: left;
  margin: 0 0 25px;
  @media screen and (min-width: $sm) {
    margin: 0 30px 25px;
  }
  @media screen and (min-width: $md) {
    margin: 0 auto 25px;
    width: $md - 60px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
  
a {
  &, &:link, &:visited, &:hover, &:active {
    color: $link;
    text-decoration: none;
  }
  &:hover, &:active {
    color: $linkHover;
    text-decoration: underline;
  }
}

header {
  background-color: #000;
  color: #fff;
  margin: 0 -20px;
  
  img {
    width: 100%;
    display: block;
  }
  
  nav {
    font-size: 1em;
    
    ul {
      margin: 0 0 0 10px;
    }
    
    li {
      color: #fff;
      list-style-type: none;
      position: relative;
      display: inline-block;
      height: 50px;
      padding: 5px 0 ;
      
      a:link, a:active, a:visited {
        text-decoration: none;
        color: #999;
        line-height: 40px;
        padding: 0 10px;
        display: block;
      }
      
      a.current {
        color: #fff;
      }
      
      a:hover {
        background-color: $color2;
        color: #fff;
      }
    }
  }
  
  .title {
    padding: 0 20px;
    @include clearfix;
  }
  
  .title h1 {
    color: #fff;
    text-align: left;
    font-size: 2.0em;
    line-height: 50px;
    font-weight: normal;
    float: left;
    padding-right: 20px;
    margin: 0;
  }
  
  .title h1 a {
    color: #fff;
    text-decoration: none;
  }
  
  .title h2 {
    text-align: right;
    font-style: italic;
    color: #ccc;
    font-size: 1em;
    font-weight: normal;
    line-height: 50px;
    margin: 0;
  }
}

#primary {
  margin: 20px 0 20px 0;
  @media screen and (min-width: $sm) {
    float: left;
    width: 100%;
    margin-right: -220px;
    overflow: hidden;
  }
}

#content {
  @media screen and (min-width: $sm) {
    margin-right: 220px;
  }
}

aside {
  margin: 20px 0 20px 0;
  
  .widget {
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-size: 14px;
    color: #444;
  }
  
  .widget-title {
    font-size: 12px;
    margin-bottom: 10px;
    color: #777;
    text-transform: uppercase;
  }
  
  .widget-content {
    line-height: 20px;
    border-radius: 5px;
    
    form {
      margin: 0;
    }
    
    ul, ol {
      margin-bottom: 0;
      margin-left: 15px;
      list-style-type: none;
      
      li:first-child {
        border: none;
      }
      
      li {
        border-top: 1px solid #ddd;
        & > a {
          display: block;
          padding: 2px 0;
        }
      }
    }
    
    & > ul {
      margin-left: 0;
    }
  }
  
  @media screen and (min-width: $sm) {
    clear: none;
    float: right;
    width: 200px;
  }
}

footer {
  clear: both;
  line-height: 40px;
  @include clearfix;
  
  &:after {
    clear: both;
  }
  
  h1 {
    margin: 0;
    font-size: 1.2em;
    line-height: 40px;
    float: left;
    
    a:link, a:visited, a:active {
      color: #000;
      text-decoration: none;
    }
  }
  
  .powered-by {
    float: right;
    background: transparent url(../img/jivoo24.png) no-repeat center left;
    height: 40px;
    line-height: 40px;
  
    a:link, a:visited, a:active {
      padding-left: 30px;
      color: #545454;
      font-style: italic;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
  }
}

p {
  margin: 0 0 10px;
}

h1, h2, h3 {
  margin: 0 0 10px;
}

h4, h5, h6 {
  margin: 0 0 6px;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

abbr[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote {
  border-left: 4px solid #ccc;
  padding: 10px 20px;
  font-size: 1.4em;
  cite {
    margin-top: 5px;
    font-size: 0.7em;
    color: #999;
    font-style: italic;
    display: block;
    &:before {
      color: #999;
      content: "\2014";
      padding-right: 0.5em;
    }
  }
}

a img {
  border: 0;
}

pre {
  margin: 0 0 10px 0;
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em;
}

pre code {
  font-family: "Source Code Pro", monospace;
  border-radius: 5px;
  padding: 10px;
  display: block;
  background-color: #f5f5f5;
}

ul, ol {
  margin-left: 32px;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  ul {
    list-style-type: circle;
  }
}

ol {
  list-style-type: decimal;
  ol {
    list-style-type: lower-alpha;
  }
}

figure {
  text-align: center;
  margin-bottom: 10px;
  figcaption {
    font-style: italic;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button,
button,
input[type=button],
input[type=submit] {
  &, &:link, &:visited {
    background-color: #f1f1f1;
    border: none;
    border-bottom: 2px solid #999;
    color: #333;
    line-height: normal;
    text-decoration: none;
    padding: 6px 12px 4px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
  }
  &:hover, &:active {
    background-color: #ddd;
  }
  &:active {
    box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.15);
    outline: none;
  }
  &[disabled] {
    &, &:hover, &:active {
      background-color: #f1f1f1;
      border-color: #ccc;
      color: #999;
      cursor: default;
      box-shadow: none;
      outline: none;
    }
  }
}

.text,
input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=time],
input[type=datetime],
textarea,
select {
  padding: 5px 12px 5px;
  display: block;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fff;
  box-shadow: inset 0 1px 2px darken(#fff, 10%);
  color: #999;
  width: 100%;
  
  &[data-error],
  &.error{
    background-color: #fee;
    border: 1px solid #f55;
  }
  
  &:focus {
    color: #222;
    border: 1px solid $color1;
    box-shadow: 0 0 3px $color1;
    outline: 0;
  }
}

textarea {
  max-width: 100%;
  height: 128px;
}

form {
  margin-bottom: 10px;
  .field {
    margin-bottom: 10px;
    
    input, textarea, select {
      margin: 5px 0;
    }
  }
  label {
    font-weight: bold;
  }
  .star {
    color: #D81413; 
  }
  input[type=checkbox] + label {
    font-weight: normal;
    display: inline;
  }
  p {
    color: #444;
  }
}

.pagination {
  text-align: center;
  font-weight: normal;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 6px 0;
  color: #555;

  .next, .prev {
    font-weight: bold;
    padding: 2px 4px;
  }
  .next {
    margin-left: 16px;
  }

  .prev {
    margin-right: 16px;
  }

  .this {
    background-color: #555;
    color: #fff;
    padding: 2px 4px;
  }

  a {
    &, &:link, &:active, &:visited {
      padding: 2px 4px;
    }
    &:hover {
    }
  }
}

.comments-pagination {
  border: none;
}

.archive-pagination {
  color: #555;

  .title {
    font-weight: bold;
  }

  .quantity {
    float: right;
  }

}

.post {
  padding-bottom: 20px;
  margin-bottom: 10px;
  
  h1 {
    a:link, a:active, a:visited {
      text-decoration: none;
      color: inherit;
    }
    a:hover {
      text-decoration: underline;
      color: $linkHover;
    }
  }
}
  
.byline {
  color: #777;
  font-size: 0.8em;
}

.byline a:link,.byline a:active,.byline a:visited {
  color: #777;
  text-decoration: underline;
}

.byline a:hover {
  color: #D81413;
}

#comment {
  input[name="cancel"] {
    display: none;
  }
}

.comments {
  margin-left: 0;
  
  li {
    list-style-type: none;
    border-top: 1px solid #ddd;
    padding: 20px 0;
    
    ul {
      margin-left: 50px;
    }
    
    li {
      border: 0;
      padding-bottom: 0;
      font-size: 1em;
    }
    &:first-child {
      border: none;
    }
    &.op {
      .author {
        .title {
          background-color: $color1;
          color: #fff;
        }
      }
    }
    &:target {
      background-color: #ffe;
    }
  }
  
  
  .comment-avatar {
    float: left;
    width: 60px;
  }
  
  .comment {
    margin-left: 60px;
    

    .author {
      font-size: 1.1em;
      margin-bottom: 5px;
      font-weight: bold;

      .title {
        font-weight: normal;
        font-size: 0.6em;
        padding: 2px 5px;
        border-radius: 3px;
        margin-left: 10px;
      }
      .parent {
        font-size: 0.8em;
        font-weight: normal;
        margin-left: 10px;
        color: #777;
      }
    }

    .content {
      margin-bottom: 10px;

      p {
        margin-bottom: 0;
        margin-top: 10px;

        &:first-child {
          margin: 0;
        }
      }
    }

    #comment {
      margin-top: 20px;
      h2 {
        display: none;
      }
      input[name="cancel"] {
        display: inline;
      }
    }
  }
}



