* {
  padding: 0;
  margin: 0;
}

body {
  background:#eee url(../img/background.png) top repeat-x fixed;
  font-family:"Segoe UI", Tahoma, Arial, sans-serif;
  font-size:63%;
}

h1 {
  font-size:40px;
  color:#252830;
  font-weight:normal;
  line-height:150px;
}

h2 {
  font-size:20px;
  color:#252830;
  font-weight:normal;
  margin:5px 0 10px;
}

strong, em {
  color:#252830;
}

#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:50px;
}

#header #bar {
  background:#000 url(../img/header.png) repeat-x;
  height:32px;
  color:#fff;
  border-top:1px solid #666;
  border-bottom:1px solid #222;
}

#header #shadow {
  background:transparent url(../img/header-shadow.png) repeat-x;
  height:16px;
}

#header div.right {
  line-height:32px;
  font-size:1.6em;
  text-align:right;
  float:right;
  padding-right:16px;
  text-shadow:1px 1px 2px #000;
}

#content {
  margin-top:64px;
  text-align:center;
}

.footer {
  position:fixed;
  bottom:0px;
  padding:4px 16px;
  background-color:#ddd;
  color:#666;
  font-size:1.2em;
}

.footer a:link, .footer a:visited, .footer a:active {
  color:inherit;
  font-weight:bold;
  text-decoration:none;
} 

.footer a:hover {
  color:inherit;
  font-weight:bold;
  text-decoration:underline;
}

#poweredby {
  left:0px;
  border-top-right-radius:4px;
}

#links{
  right:0px;
  border-top-left-radius:4px;
}


.section {
  margin:16px 0;
  text-align:left;
}

.header_section h1 {
  text-align:center;
  font-size:4.5em;
  font-weight:normal;
  line-height:normal;
  margin:128px 0 32px;
  color:#242930;  
}

.header_section h1 a:link, .header_section h1 a:link, .header_section h1 a:link {
  color:inherit;
  text-decoration:none;
} 

.header_section h1 a:hover {
  color:inherit;
  text-decoration:underline;
}

.container {
  margin:0 auto;
  width:768px;
}

.narrow_container {
  width:368px;
}

.dark_section {
  background:#242930 url(../img/dark-shadow.png) repeat-x top;
  color:#fff;
  padding:16px 0 16px;
  margin:0;
}

.top_shadow {
  background:transparent url(../img/top-shadow.png) repeat-x;
  height:16px;
}

.bottom_shadow {
  background:transparent url(../img/header-shadow.png) repeat-x;
  height:16px;
  margin-bottom:16px;
}

p {
  margin-bottom:16px;
  text-align:left;
  font-size:1.3em;
}

p.right {
  text-align:right;
}

input.text, textarea {
  font-size: 12px;
  width:750px;
  padding:4px 8px;
  border:1px solid #999;
  border-radius:4px;
  color:#333;
  font-family:"Segoe UI", Tahoma, Arial, sans-serif;
  background-color:#fff;
}

.narrow_container input.text, .narrow_container textarea {
  width:350px;
}

input.bigtext {
  font-size:20px;
}

input.text:focus, textarea:focus {
  outline:none;
  box-shadow:0 0 16px 0px #444;
}

.dark_section input.text:focus, .dark_section textarea:focus {
  box-shadow:0 0 16px 0px #aaa;
}

div.input {
  margin:8px 0;
}

.section .separator {
  border-bottom:1px solid #ccc;
} 

.dark_section .separator {
  border-bottom:1px solid #1b1f2a;
} 

div.input p.label {
  float:left;
  width:172px;
  line-height:21px;
  margin:0;
  color:#252830;
  font-size:16px;
}

div.input div.element {
}

div.input input.text {
  width:172px;
}

.permalink-wrapper {
  background-color:#fff;
  display:inline;
  font-size: 12px;
  padding:4px 8px;
  border:1px solid #aaa;
  border-radius:4px;
  color:#666;
}

.permalink-wrapper-focus {
  box-shadow:0 0 16px 0px #444;
}

.dark_section .permalink-wrapper-focus {
  box-shadow:0 0 16px 0px #aaa;
}

input.permalink {
  border:0;
  padding:0;
  background:transparent;
}

.section input.permalink:focus {
  box-shadow:none;
}

textarea {
  font-size:12px;
  height:368px;
}

.button {
  width:128px;
}

.publish {
  font-weight:bold;
}

.cirkuitSkin table.mceLayout {
  border-left: 1px solid #999!important;
  border-right: 1px solid #999!important;
        border-radius:4px;
}

.cirkuitSkin table.mceLayout tr.mceFirst td.mceToolbar {
  border-top: 1px solid #999!important;
        border-top-left-radius:4px;
        border-top-right-radius:4px;
}

.cirkuitSkin table.mceLayout tr.mceLast td {
  border-bottom: 1px solid #999!important;
        border-bottom-left-radius:4px;
        border-bottom-right-radius:4px;
}

div.left {
  float:left;
}

div.aright {
  text-align:right;
}

div.clearl {
  clear:left;
}

#settings {
  display:none;
}

label.small {
  display:block;
  text-align:left;
  font-size:0.9em;
  text-transform: uppercase;
  font-weight:bold;
  color:#aaa;
}

.dark_section label.small {
/* color:#15191D; dark*/
  color:#5A5D61;
}

span.description {
  display:block;
  text-align:right;
  font-style: italic;
  color:#777;
}


.menubar {
  float:left;
  margin-top:4px;
  background-color:#111;
  border-radius:6px;
  height:24px;
  z-index:300004;
  margin-left:16px;
}

.menubar a {
  color:inherit;
  text-decoration:none;
  display:block;
}

.menubar .menu {
  float:left;
  width:140px;
  background:transparent url(../img/menu-arrow.png) no-repeat right 8px;
  list-style-type: none;
}

.menubar .menu .header {
  font-size:1.2em;
  padding:4px 0 4px 0;
  color:#fff;
}

.menubar .menu .header a:link,
.menubar .menu .header a:active,
.menubar .menu .header a:visited {
  padding:0 0 0 8px;
}

.menubar .menu .items {
  margin-top:4px;
  background-color:#111;
  border-radius:6px;
  font-size:1.1em;
  padding:4px 0;
  box-shadow:2px 2px 16px 0px #000;
  display:none;
  position:relative;
}

.menubar .menu .items .item {
  list-style-type: none;
}

.menubar .menu .items .item a:link,
.menubar .menu .items .item a:active,
.menubar .menu .items .item a:visited {
  padding:8px 0 8px 16px;
}

.menubar .menu .items .item a:hover,
.menubar .menu .items .item a:focus {
  background-color:#222;
  outline:none;
}

.menubar .menu .item .key {
  float:right;
  color:#666;
  margin-right:24px;
}

.menubar .menu .items .separator {
  margin:4px 0;
  border-bottom:1px solid #222;
  font-size:0;
}

.db_driver h2 {
  float:left;
  width:196px;
  height:48px;
  line-height:48px;
  margin:0;
}

.db_driver p {
  float:left;
  width:444px;
  height:48px;
  margin:0;
  line-height:48px;
  color:#383C44;
}

.db_driver .button_container {
  float:left;
  width:128px;
  height:48px;
  line-height:48px;
}
