html {
  background-color:#eee;
}

body {
  color:#333;
  border:1px solid #154b7a;
  background-color:#fff;
  width:600px;
  margin:50px auto 20px;
  padding:1.5em 20px;
  font-family: 'Bitstream Vera Sans', Verdana, 'DejaVu Sans', sans-serif;
  font-size:63%;
  border-radius:15px 15px;
  -khtml-border-radius:15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
}

h1 {
  text-align:center;
  margin:0 0 14px;
  font-weight:normal;
  font-size:2em;
  color:#111;
}

h2 {
  font-size:1.3em;
  font-weight:bold;
  margin:0 0 2px;
  color:#111;
}

a:link, a:visited, a:active {
  text-decoration:underline;
  color:#157;
}

a:hover {
  text-decoration:none;
  color:#157;
}

p {
  font-size:1.3em;
  line-height:1.5em;
  margin:0 0 14px;
}

p.center {
  text-align:center;
}

p.right {
  text-align:right;
}

fieldset {
  border-top:1px solid #a3b8ca;
  border-bottom:1px solid a3b8ca;
  border-left:0;
  border-right:0;
  margin:10px -20px 20px -20px;
  padding:10px 20px 10px 20px;
  width:100%;
  background-color:#f6f8fa;
  display:block;
}

fieldset h2 {
  margin:0 0 15px 0;
  font-size:1.3em;
  text-transform:uppercase;
  color:#154b7a;
}

label {
  color:#157;
}

label.disabled {
  color:#999;
}

input, textarea, select {
  font-family: "Bitstream Vera Sans", Verdana, "DejaVu Sans", sans-serif;
  font-size: 15px;
  padding:0 5px;
}

input.button {
  font-family: "Segoe UI", Corbel, "Bitstream Vera Sans", Verdana, "DejaVu Sans", sans-serif;
}

input.text, textarea, select {
  padding:5px 5px;
  background-color:#f6f6f6;
  border:1px solid #ccc;
  border-radius:5px;
  -khtml-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}

input.text:hover, textarea:hover, select:hover {
  background-color:#fefefe;
}

input.text:focus, textarea:focus, select:hover {
  background-color:#fefefe;
  border:1px solid #666;
  outline:0;
}

p.input {
  color:#777;
  line-height:1.3em;
  font-size:1.1em;
}

p.input strong {
  color:#555;
}

p.input strong span {
  color:#154b7a;
}

p.input label {
  color:#333;
  font-weight:bold;
  font-size:1.1em;
}

p.input label.radio {
  font-weight:normal;
  font-size:1em;
}

.star {
  color:#D81413;
}

p.input input.text, p.input textarea, p.input select {
  display:block;
  width:75%;
  margin-top:5px;
}

p.input input.password, p.input select {
  width:50%;
}

p.input input.small {
  display:inline;
  width:100px;
  margin:0 5px;
  font-size:0.9em;
}

p.input textarea {
  height:100px;
}

/*
input.text {
  border:1px solid #aaa;
  font-size:16px;
  font-family: 'Bitstream Vera Sans', Verdana, 'DejaVu Sans', sans-serif;
  width:180px;
  padding:2px;
  color:#222;
}

textarea {
  border:1px solid #aaa;
  font-size:12px;
  font-family: Consolas, "Lucida Console", Monaco, "Andale Mono", "Bitstream Vera Sans Mono", "Lucida Sans Typewriter", "DejaVu Sans Mono", monospace;
  color:#222;
  width:180px;
  height:40px;
}
*/

.install, .installbutton {
  float:left;
  width:190px;
  margin:0 5px;
  color:#154b7a;
}

.install.grey, .install.grey h2 {
  color:#545454;
}

.install h2 {
  text-align:center;
  color:#154b7a;
}

.module, .forminput {
  padding:10px 0;
}

.moduleborder, .forminputborder {
  border-top:1px dashed #bbb;
}

.module .right {
  float:right;
  text-align:right;
  width:200px;
  font-size:1em;
}

.forminput .left {
  width:180px;
  margin:0 10px;
  float:left;
  height:50px;
  line-height:50px;
}

.forminput .left p {
  line-height:15px;
  font-size:1.1em;
}

.module p, .forminputborder p {
  margin:0;
}

.clear {
  clear:both;
}

.error {
  color:#CC3300;
}

.secondary {
  color:#457;
}

.strength_indicator_wrapper {
  float:right;
  width:280px;
}

.strength_indicator {
  line-height:12px;
  color:#999;
  padding-top:18px;
}

.strength_indicator strong {
  font-weight:bold;
  color:#333;
}

.strength_bar_wrapper {
  background-color:#ccc;
  height:7px;
  margin-bottom:2px;
}

.strength_bar {
  background-color:#999;
  height:7px;
  width:0%;
}

.strength_string {
  font-weight:bold;
  color:#999;
  float:right;
}