
html {
  margin-top:30px;
}

#backend-overlay {
  position:fixed;
}

#backend-toolbar-container, #backend-page {
  font-size:12px;
  text-align:left;
}

#backend-toolbar-container {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  font-size:12px;
  z-index:1003;
}

#backend-toolbar-shadow {
  height:10px;
  background:transparent url(images/overlay-menu-shadow.png) repeat-x;
}

#backend-toolbar {
  padding:4px 20px;
}

#backend-page {
  position:absolute;
  top:12%;
  left:12%;
  height:auto;
  width:75%;
  z-index:1002;
  font-size:12px;
}

#backend-page * {
  font-size:12px;
}

#backend-page input.text, #backend-page textarea {
  display:block;
}

#backend-page input.text, #backend-page input.text-inline, #backend-page textarea {
  width:95%;
  padding: .4em;
}

#backend-page input.backend-password {
  width:50%;
}

.backend-strength-indicator-wrapper {
  float:right;
  width: 30%;
  margin-top:-25px;
  margin-right:5%;
}

.backend-radio strong {
  padding-right:20px;
}

.backend-strength-indicator {
  line-height:12px;
  color:#999;
  padding-top:18px;
}

.backend-strength-indicator strong {
  font-weight:bold;
  color:#333;
}

.backend-strength-bar-wrapper {
  background-color:#ccc;
  height:7px;
  margin-bottom:2px;
}

.backend-strength-bar {
  background-color:#999;
  height:7px;
  width:0%;
}

.backend-strength-string {
  font-weight:bold;
  color:#999;
  float:right;
}

#backend-page p, .backend-input {
  margin-bottom:12px;
}

.backend-input .backend-description {
  font-size: .9em;
  font-style: italic;
}

.backend-permalink {
  
}

.backend-buttonset {
  float:right;
  margin-left:10px;
  margin-bottom:10px;
}

.backend-permalink-wrapper {
  display:inline;
  padding:4px;
}

.backend-permalink-wrapper .backend-permalink {
  border:0;
  padding:0;
  background:transparent;
}

#backend-page input.text-inline {
  width:200px;
}

#backend-page textarea {
  height:150px;
}

#backend-page fieldset {
  padding:0;
  border:0;
  margin-top:25px;
}

#backend-page-close span {
  left:auto;
  top:auto;
}

.backend-global-notice, .backend-global-error {
  margin:0 5px;
}

.ui-widget {
  font-size:11px;
}

#backend-global-notifications {
  float:right;
}

.backend-notification {
  text-align:center;
  margin:10px 0;
}

.backend-notification div {
  margin:0 auto;
  width:75%;
  text-align:left;
}

.backend-notification .ui-icon {
  float:left;
  margin:0 10px;
}

.backend-data-table {
  width:100%;
}

.backend-data-table tbody * {
  font-weight:normal!important;
}

.backend-data-table th, .backend-data-table td {
  padding:5px 10px;
  text-align:left;
}

.backend-data-table th.backend-th {
  border-right:0;
  border-left:0;
}

.backend-data-table th.ui-corner-tl {
  border-right:0;
}

.backend-data-table th.ui-corner-tr {
  border-left:0;
}

.backend-data-table td.backend-td-left {
  border-right:0;
  border-top:0;
}

.backend-data-table td.backend-td-right {
  border-left:0;
  border-top:0;
}

.backend-data-table td.backend-td {
  border-left:0;
  border-right:0;
  border-top:0;
}
