.toolbar {
  @media screen and (min-width: $sm) {
    position: absolute;
    top: 52px;
    right: 24px;
    text-align: right;
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=date],
    input[type=time],
    input[type=datetime],
    textarea,
    select {
      display: inline-block;
      width: 250px;
    }

    .dropdown {
      & > ul {
        left: auto;
        right: 0;
      }
    }
  }
}


.dropdown-actions {
  @media screen and (max-width: $sm - 1) {
    & > ul > li {
      input, button {
        background: none;
        color: inherit;
        border: none;
        display: block;
        min-width: 100%;
        text-align: left;
        overflow: hidden;
        margin: 0;
      }
    }
  }
  @media screen and (min-width: $sm) {
    & > a {
      display: none!important;
    }
    & > ul {
      display: inline-block;
      position: static;
      box-shadow: none !important;
      background: none !important;
      & > li {
        display: inline-block;
        background: none !important;
        a, input, button {
          &, &:link, &:active, &:visited, &:hover {
            padding: 6px 12px 4px;
          }
          .icon {
            margin-left: 0;
            width: auto;
            vertical-align: 0;
            float: none;
          }
        }
      }
    }
  }
}


.table-operations {
  @media screen and (min-width: $sm) {
    font-size: 0.9em;
    float: left;
    & + .pagination {
      float: right;
    }
  }
}

.table-selection {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  text-align: center;
  background-color: #ffe;
  border-top: 1px solid darken($mainBg, 10%);
  padding: 8px;
  z-index: 1001;

  @media screen and (min-width: $xs) {
    left: 32px;
  }
  @media screen and (min-width: $md) {
    left: 220px;
  }  
  .select-all {
    display: none;
  }
}

body.menu-open {
  .table-selection {
    left: 220px;
    @media screen and (max-width: $md - 1) {
      right: -220px;
    }
  }
}

.table-settings-box {
  color: $subMenuFg;
  background-color: $subMenuBg;
  width: 240px;
  box-shadow: 0px 2px 4px darken($subMenuBg, 30%);
  position: absolute;
  padding: 12px;
  display: none;
  font-size: 0.9em;
  
  form {
    margin: 0
  }

  .field {
    margin-left: 0;
    margin-bottom: 0;
    label:first-child {
      float: none;
      width: auto;
      margin-left: 0;
    }
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=date],
    input[type=time],
    input[type=datetime],
    textarea,
    select {
      width: 100%;
      margin: 0 0 6px 0;
    }
  }
}

.pagination {
  text-align: center;
  margin-left: 8px;
  margin-bottom: 8px;
  & > a.icon {
    vertical-align: middle;
    margin-right: 8px;
    &:hover {
      text-decoration: none;
    }
  }
  button,
  .button {
    margin-left: 8px;
    &:last-child {
      margin-left: 0;
    }
    & > .icon {
      margin: 0;
    }
    & > .label {
      display: none;
    }
  }
  @media screen and (min-width: $sm) {
    font-size: 0.9em;
    text-align: right;
  }
}

.data-table {
  table {
    clear: right;

    &.density-low {
      @include table-density(12px);
    }
    &.density-medium {
      @include table-density(9px);
    }
    &.density-high {
      font-size: 0.95em;
      @include table-density(6px);
    }

    td.actions, th.actions {
      width: 150px;
      text-align: center;
    }
    td.actions {
      padding: 0;
      vertical-align: middle;
      a {
        visibility: hidden;
      }
    }
    tr:hover {
      td.actions a {
        visibility: visible;
      }
    }
  }
}


.extension-list {
  list-style-type: none;
  margin: 0;

  & > li {
    margin: 0 0;
    padding: 8px 0;
    border-top: 1px solid darken($mainBg, 10%);

    &:first-child {
      border-top: 0;
    }

    &:after {
      display: block;
      content: ' ';
      clear: left;
    }

    & > .extension-icon {
      float:left;
      width: 96px;
      height: 54px;
      margin-right: 16px;
      text-align: center;
      opacity: 0.7;

      & > img {
        max-height: 54px;
        max-width: 96px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
      }

      & > .extension-icon-default {
        font-size: 24px;
        color: #ccc;
        background-color: #f1f1f1;
        line-height: 54px;
        height: 100%;
        width: 100%;
      }
      
      & > .extension-icon-default-small {
        font-size: 24px;
        color: #ccc;
        background-color: #f1f1f1;
        line-height: 48px;
        height: 48px;
        width: 48px;
        display: inline-block;
      }
    }

    & > .extension-details {
      margin-left: 96px + 16px;
      margin-right: 100px;
      & > .extension-name {
        color: lighten($mainFg, 40%);
        font-weight: bold;
        margin-bottom: 8px;

        & > .extension-version {
          font-size: 0.9em;
          color: lighten($mainFg, 20%);
          font-weight: normal;
          margin-left: 16px;
        }
      }

      & > .extension-description {
        font-size: 0.9em;
        margin: 0;
        color: lighten($mainFg, 20%);
      }

      & > .extension-actions {
        font-size: 0.8em;
        margin-top: 8px;
        & > a,
        & > .extension-dependencies {
          margin-left: 16px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    & > .extension-controls {
      width: 150px;
      float: right;
      text-align: right;

      & > .extension-enable,
      & > .extension-enabled {
        float: left;
        font-size: 0.9em;
        margin-right: 8px;
        cursor: pointer;
        text-align: left;
        display: inline-block;
      }

      & > .extension-enabled {
        font-weight: bold;
        display: none;
      }

      & > a {
        &:hover {
          text-decoration: none;
        }
      }

      & > .extension-builtin {
        font-style: italic;
        font-size: 0.9em;
      }
    }

    .extension-configure {
      display: none;
    }

    &.extension-enabled {

      & > .extension-icon {
        opacity: 1;
        & > img {
          filter: none;
          -webkit-filter: none;
        }
      }

      & > .extension-details {
        & > .extension-name {
          color: $mainFg;
        }
        .extension-configure {
          display: inline;
        }
      }

      & > .extension-controls {
        & > .extension-enable {
          display: none;
        }
        & > .extension-enabled {
          display: inline-block;
        }
      }
    }
  }

  &.extension-list-medium > li {
    & > .extension-icon {
      width: 160px;
      height: 90px;

      & > img {
        max-width: 160px;
        max-height: 90px;
      }
      & > .extension-icon-default {
        font-size: 48px;
        line-height: 90px;
      }
    }
    & > .extension-details {
      margin-left: 160px + 16px;
    }
  }

  &.extension-list-large > li {
    & > .extension-icon {
      width: 240px;
      height: 135px;

      & > img {
        max-width: 240px;
        max-height: 135px;
      }
      & > .extension-icon-default {
        font-size: 56px;
        line-height: 135px;
      }
    }
    & > .extension-details {
      margin-left: 240px + 16px;
    }
  }
}

.skin-list {
  list-style-type: none;
  margin-bottom: 20px;
    content: ' ';
    display: block;
    clear: left;

  &:after {
    content: ' ';
    display: block;
    clear: left;
  }

  & > .skin {
    float: left;
    width: 160px;
    padding: 8px;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
    .skin-name {
      margin-bottom: 8px;
      input {
        margin-right: 8px;
      }
    }
    & > .example {
      width: 100%;
      height: 50px;
      position: relative;
      * {
        position: absolute;
      }
      .example-header {
        top: 0;
        left: 0;
        right: 0;
        height: 20px;
      }
      .example-nav {
        top: 20px;
        left: 0;
        bottom: 0;
        width: 60px;
        .example-nav-cu {
          top: 10px;
          left: 0;
          width: 60px;
          height: 10px;
        }
      }
      .example-main {
        top: 20px;
        left: 60px;
        bottom: 0;
        right: 0;
        white-space: nowrap;
        font-style: normal;
        overflow: hidden;
        padding-left: 8px;
        line-height: 30px;
        font-size: 0.8em;
      }
    }
  }
}
