@import '../../../../../../lib/Jivoo/Core/assets/sass/config';
@import '../../../../../../lib/Jivoo/Core/assets/sass/base';
@import '../../../../../../lib/Jivoo/Core/assets/sass/layout';
@import '../../../../../../lib/Jivoo/Core/assets/sass/form';
@import '../../../../../../lib/Jivoo/Core/assets/sass/table';
@import '../../../../../../lib/Jivoo/Core/assets/sass/flash';
@import 'icons';
@import 'dropdown';
@import 'topnav';
@import 'sidenav';
@import 'widgets';

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600");


input[type=checkbox] {
  &:checked:before {
    font-family: icomoon;
    font-size: 12px;
    float: left;
    margin: 1px 0 0 1px;
    content: '\e686';
  }
}

#login {
  overflow-y: auto;
  text-align: center;
  padding: 11% 0 0 0;
  margin: 0;

  & > div {
    width: 300px;
    margin: 0 auto;
    text-align: right;

    h1 {
      margin: 0 0 0 24px;
      text-align: left;
      a {
        color: $navFg;

        &, &:link, &:active, &:visited {
          color: inherit;
          text-decoration: none;
        }
        &:hover {
          color: $primaryBg;
        }
      }
    }

    p {
      margin: 12px 24px 0 0;
      font-size: 0.8em;
    }

    a {
      &, &:link, &:active, &:visited {
        color: $navFg;
        text-decoration: none;
      }
      &:hover {
        color: $primaryBg;
      }
    }

    form {
      border-left: 4px solid $primaryBg;
      box-shadow: 1px 2px 1px darken($navBg, 10%);
      background-color: $mainBg;
      padding: 24px 24px 24px 20px;
      text-align: right;
      margin: 24px 0;

      .flash {
        text-align: left;
      }

      p {
        text-align: left;
      }
      
      .field {
        text-align: left;
        margin: 0 0 24px 0;
        label {
          margin: 0 0 8px 0;
          display: block;
          float: none;
        }
        input {
          margin-top: 0;
          display: block;
          width: 100%;
        }
      }
      .remember {
        float: left;
        padding-top: 6px;
      }
    }
  }
}


.publish {
  @media screen and (min-width: $sm) {
    margin-right: 270px;
  }
  .save-buttons {
    margin-bottom: 20px;

    @media screen and (min-width: $sm) {
      float: right;
      margin-top: -48px;
      margin-right: -270px;
    }
  }

  .article {
    @media screen and (min-width: $sm) {
      float: left;
      clear: right;
      width: 100%;
    }

    .title {
      font-size: 1.6em;
      padding: 2px 12px;
      margin-bottom: 20px;
    }

    .content {
      height: 300px;
      margin-bottom: 20px;
      max-width: 100%;
    }
  }

  .settings {
    @media screen and (min-width: $sm) {
      float: right;
      width: 250px;
      margin-right: -270px;

      .field {
        margin-left: 0;
        label:first-child {
          margin-left: 0;
          width: 0;
          float: none;
        }
        input[type=text],
        input[type=email],
        input[type=password],
        input[type=date],
        input[type=time],
        input[type=datetime],
        textarea,
        select {
          margin: 0 0 6px 0;
          width: 100%;
        }
      }
    }
  }
  .permalink {
    color: #999;
    font-size: 0.9em;
    input {
      padding: 2px;
    }
  }

  .tags {
    font-style: normal;
    margin: 0;
    .tag {
      display: inline-block;
      padding: 2px 8px;
      margin-right: 4px;
      margin-bottom: 4px;
      background-color: $navBg;
      color: $navFg;
      cursor: default;

      &:hover {
        background-color: $navHlBg;
      }

      a {
        &, &:link, &:visited {
          margin-left: 4px;
          color: $navFg;
          text-decoration: none;
        }
        &:hover {
          color: $navHlFg;
        }
      }
    }
  }
}

.amaran-wrapper.top {
  top: 32px !important;
}
