@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400");
/* line 34, ../sass/base.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 41, ../sass/base.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 15, ../sass/theme.scss */
html {
  overflow-y: scroll;
}

/* line 19, ../sass/theme.scss */
body {
  background-color: #eee;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #111;
  font-size: 14px;
}

/* line 27, ../sass/theme.scss */
#main {
  background-color: #fff;
  border-bottom: 5px solid #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  padding: 0 20px;
  text-align: left;
  margin: 0 0 25px;
}
@media screen and (min-width: 768px) {
  /* line 27, ../sass/theme.scss */
  #main {
    margin: 0 30px 25px;
  }
}
@media screen and (min-width: 1010px) {
  /* line 27, ../sass/theme.scss */
  #main {
    margin: 0 auto 25px;
    width: 950px;
  }
}

/* line 45, ../sass/theme.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 50, ../sass/theme.scss */
a, a:link, a:visited, a:hover, a:active {
  color: #04388e;
  text-decoration: none;
}
/* line 54, ../sass/theme.scss */
a:hover, a:active {
  color: #d81413;
  text-decoration: underline;
}

/* line 60, ../sass/theme.scss */
header {
  background-color: #000;
  color: #fff;
  margin: 0 -20px;
}
/* line 65, ../sass/theme.scss */
header img {
  width: 100%;
  display: block;
}
/* line 70, ../sass/theme.scss */
header nav {
  font-size: 1em;
}
/* line 73, ../sass/theme.scss */
header nav ul {
  margin: 0 0 0 10px;
}
/* line 77, ../sass/theme.scss */
header nav li {
  color: #fff;
  list-style-type: none;
  position: relative;
  display: inline-block;
  height: 50px;
  padding: 5px 0;
}
/* line 85, ../sass/theme.scss */
header nav li a:link, header nav li a:active, header nav li a:visited {
  text-decoration: none;
  color: #999;
  line-height: 40px;
  padding: 0 10px;
  display: block;
}
/* line 93, ../sass/theme.scss */
header nav li a.current {
  color: #fff;
}
/* line 97, ../sass/theme.scss */
header nav li a:hover {
  background-color: #031b33;
  color: #fff;
}
/* line 104, ../sass/theme.scss */
header .title {
  padding: 0 20px;
}
/* line 8, ../sass/base.scss */
header .title:before, header .title:after {
  content: " ";
  display: table;
}
/* line 12, ../sass/base.scss */
header .title:after {
  clear: both;
}
/* line 15, ../sass/base.scss */
header .title {
  *zoom: 1;
}
/* line 109, ../sass/theme.scss */
header .title h1 {
  color: #fff;
  text-align: left;
  font-size: 2.0em;
  line-height: 50px;
  font-weight: normal;
  float: left;
  padding-right: 20px;
  margin: 0;
}
/* line 120, ../sass/theme.scss */
header .title h1 a {
  color: #fff;
  text-decoration: none;
}
/* line 125, ../sass/theme.scss */
header .title h2 {
  text-align: right;
  font-style: italic;
  color: #ccc;
  font-size: 1em;
  font-weight: normal;
  line-height: 50px;
  margin: 0;
}

/* line 136, ../sass/theme.scss */
#primary {
  margin: 20px 0 20px 0;
}
@media screen and (min-width: 768px) {
  /* line 136, ../sass/theme.scss */
  #primary {
    float: left;
    width: 100%;
    margin-right: -220px;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  /* line 146, ../sass/theme.scss */
  #content {
    margin-right: 220px;
  }
}

/* line 152, ../sass/theme.scss */
aside {
  margin: 20px 0 20px 0;
}
/* line 155, ../sass/theme.scss */
aside .widget {
  margin-bottom: 30px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #444;
}
/* line 162, ../sass/theme.scss */
aside .widget-title {
  font-size: 12px;
  margin-bottom: 10px;
  color: #777;
  text-transform: uppercase;
  margin-left: 10px;
}
/* line 170, ../sass/theme.scss */
aside .widget-content {
  line-height: 20px;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}
/* line 176, ../sass/theme.scss */
aside .widget-content ul {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  /* line 152, ../sass/theme.scss */
  aside {
    clear: none;
    float: right;
    width: 200px;
  }
}

/* line 188, ../sass/theme.scss */
footer {
  clear: both;
  line-height: 40px;
}
/* line 8, ../sass/base.scss */
footer:before, footer:after {
  content: " ";
  display: table;
}
/* line 12, ../sass/base.scss */
footer:after {
  clear: both;
}
/* line 15, ../sass/base.scss */
footer {
  *zoom: 1;
}
/* line 193, ../sass/theme.scss */
footer:after {
  clear: both;
}
/* line 197, ../sass/theme.scss */
footer h1 {
  margin: 0;
  font-size: 1.2em;
  line-height: 40px;
  float: left;
}
/* line 203, ../sass/theme.scss */
footer h1 a:link, footer h1 a:visited, footer h1 a:active {
  color: #000;
  text-decoration: none;
}
/* line 209, ../sass/theme.scss */
footer .powered-by {
  float: right;
  background: transparent url(../img/jivoo24.png) no-repeat center left;
  height: 40px;
  line-height: 40px;
}
/* line 215, ../sass/theme.scss */
footer .powered-by a:link, footer .powered-by a:visited, footer .powered-by a:active {
  padding-left: 30px;
  color: #545454;
  font-style: italic;
  text-decoration: none;
}
/* line 222, ../sass/theme.scss */
footer .powered-by a:hover {
  text-decoration: underline;
}

/* line 228, ../sass/theme.scss */
p {
  margin: 0 0 10px;
}

/* line 232, ../sass/theme.scss */
h1, h2, h3 {
  margin: 0 0 10px;
}

/* line 236, ../sass/theme.scss */
h4, h5, h6 {
  margin: 0 0 6px;
}

/* line 240, ../sass/theme.scss */
h1 {
  font-size: 2.6em;
}

/* line 244, ../sass/theme.scss */
h2 {
  font-size: 2.1em;
}

/* line 248, ../sass/theme.scss */
h3 {
  font-size: 1.8em;
}

/* line 252, ../sass/theme.scss */
h4 {
  font-size: 1.6em;
}

/* line 256, ../sass/theme.scss */
h5 {
  font-size: 1.4em;
}

/* line 260, ../sass/theme.scss */
h6 {
  font-size: 1.2em;
}

/* line 264, ../sass/theme.scss */
abbr[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

/* line 269, ../sass/theme.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 273, ../sass/theme.scss */
blockquote {
  border-left: 4px solid #ccc;
  padding: 10px 20px;
  font-size: 1.4em;
}
/* line 277, ../sass/theme.scss */
blockquote cite {
  margin-top: 5px;
  font-size: 0.7em;
  color: #999;
  font-style: italic;
  display: block;
}
/* line 283, ../sass/theme.scss */
blockquote cite:before {
  color: #999;
  content: "\2014";
  padding-right: 0.5em;
}

/* line 291, ../sass/theme.scss */
a img {
  border: 0;
}

/* line 295, ../sass/theme.scss */
ul, ol {
  margin-left: 32px;
}

/* line 299, ../sass/theme.scss */
ul {
  list-style-type: disc;
}
/* line 301, ../sass/theme.scss */
ul ul {
  list-style-type: circle;
}

/* line 306, ../sass/theme.scss */
ol {
  list-style-type: decimal;
}
/* line 308, ../sass/theme.scss */
ol ol {
  list-style-type: lower-alpha;
}

/* line 314, ../sass/theme.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 323, ../sass/theme.scss */
.button, .button:link, .button:visited,
button,
button:link,
button:visited,
input[type=button],
input[type=button]:link,
input[type=button]:visited,
input[type=submit],
input[type=submit]:link,
input[type=submit]:visited {
  background-color: #f1f1f1;
  border: none;
  border-bottom: 2px solid #999;
  color: #333;
  line-height: normal;
  text-decoration: none;
  padding: 6px 12px 4px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
}
/* line 336, ../sass/theme.scss */
.button:hover, .button:active,
button:hover,
button:active,
input[type=button]:hover,
input[type=button]:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #ddd;
}
/* line 339, ../sass/theme.scss */
.button:active,
button:active,
input[type=button]:active,
input[type=submit]:active {
  box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.15);
  outline: none;
}
/* line 344, ../sass/theme.scss */
.button[disabled], .button[disabled]:hover, .button[disabled]:active,
button[disabled],
button[disabled]:hover,
button[disabled]:active,
input[type=button][disabled],
input[type=button][disabled]:hover,
input[type=button][disabled]:active,
input[type=submit][disabled],
input[type=submit][disabled]:hover,
input[type=submit][disabled]:active {
  background-color: #f1f1f1;
  border-color: #ccc;
  color: #999;
  cursor: default;
  box-shadow: none;
  outline: none;
}

/* line 363, ../sass/theme.scss */
.text,
input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=time],
input[type=datetime],
textarea,
select {
  padding: 5px 12px 5px;
  display: block;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 4px;
  background-color: #fff;
  color: #999;
  width: 100%;
}
/* line 373, ../sass/theme.scss */
.text.error,
input[type=text].error,
input[type=email].error,
input[type=password].error,
input[type=date].error,
input[type=time].error,
input[type=datetime].error,
textarea.error,
select.error {
  background-color: #fee;
  border: 1px solid #f55;
}
/* line 378, ../sass/theme.scss */
.text:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
textarea:focus,
select:focus {
  color: #222;
  border: 1px solid #7799bb;
  box-shadow: 0 0 3px #7799bb;
  outline: 0;
}

/* line 386, ../sass/theme.scss */
form {
  margin-bottom: 10px;
}
/* line 388, ../sass/theme.scss */
form .field {
  margin-bottom: 10px;
}
/* line 391, ../sass/theme.scss */
form .field input, form .field textarea, form .field select {
  margin: 5px 0;
}
/* line 395, ../sass/theme.scss */
form label {
  font-weight: bold;
}
/* line 398, ../sass/theme.scss */
form .star {
  color: #D81413;
}
/* line 401, ../sass/theme.scss */
form input[type=checkbox] + label {
  font-weight: normal;
  display: inline;
}
/* line 405, ../sass/theme.scss */
form p {
  color: #444;
}

/* line 410, ../sass/theme.scss */
div.pagination {
  margin-bottom: 1.2em;
  font-weight: bold;
}

/* line 415, ../sass/theme.scss */
.post {
  padding-bottom: 20px;
  margin-bottom: 10px;
}
/* line 420, ../sass/theme.scss */
.post h1 a:link, .post h1 a:active, .post h1 a:visited {
  text-decoration: none;
  color: inherit;
}
/* line 424, ../sass/theme.scss */
.post h1 a:hover {
  text-decoration: underline;
  color: #d81413;
}

/* line 431, ../sass/theme.scss */
.byline {
  color: #777;
  font-size: 0.8em;
}

/* line 436, ../sass/theme.scss */
.byline a:link, .byline a:active, .byline a:visited {
  color: #777;
  text-decoration: underline;
}

/* line 441, ../sass/theme.scss */
.byline a:hover {
  color: #D81413;
}

/* line 445, ../sass/theme.scss */
.comments {
  margin-left: 0;
}
/* line 448, ../sass/theme.scss */
.comments li {
  list-style-type: none;
  border-bottom: 1px solid silver;
  margin-top: 20px;
  padding-bottom: 20px;
}
/* line 454, ../sass/theme.scss */
.comments li ul {
  margin-left: 50px;
}
/* line 458, ../sass/theme.scss */
.comments li li {
  border: 0;
  padding-bottom: 0;
  font-size: 1em;
}
/* line 466, ../sass/theme.scss */
.comments .comment-avatar {
  float: left;
  width: 50px;
}
/* line 471, ../sass/theme.scss */
.comments .comment {
  margin-left: 50px;
}
/* line 474, ../sass/theme.scss */
.comments .comment .author {
  font-size: 1.1em;
  margin-bottom: 5px;
}
