$color1: #79B;
$color2: #031b33;
$link: #04388E;
$linkHover: #D81413;
$font: 'Open Sans', sans-serif;

$xs: 0px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400|Source+Code+Pro:400,700");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

button, input, select, textarea {
  font-family:inherit;
  font-size:inherit;
  line-height:inherit;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #eee;
  font-family: $font;
  text-align: center;
  color: #111;
  font-size: 14px;
}

#main {
  background-color: #2272CC;
  display: block;
  text-align: left;
  margin: 0 0 25px;
  padding-bottom: 5px;
  @media screen and (min-width: $sm) {
    border-radius: 5px;
    margin: 0 30px 25px;
  }
  @media screen and (min-width: $md) {
    margin: 100px auto 25px auto;
    width: $md - 60px;
  }
}

header {
  color: #fff;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;

  .title {
    font-size: 24px;
    &, &:link, &:visited, &:hover, &:active {
      color: #fff;
      text-decoration: none;
    }
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      li {
        display: block;
        float: left;

        a {
          display: block;
          height: 48px;
          padding: 0 20px;
          &, &:link, &:visited, &:active {
            color: #fff;
            text-decoration: none;
          }
          &:hover {
            color: #fff;
            text-decoration: none;
            background-color: #164B87;
          }
        }
      }
    }
  }
}

#content {
  background-color: #fff;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
  
a {
  &, &:link, &:visited, &:hover, &:active {
    color: $link;
    text-decoration: none;
  }
  &:hover, &:active {
    color: $linkHover;
    text-decoration: underline;
  }
}


p {
  margin: 0 0 10px;
}

h1, h2, h3 {
  margin: 0 0 10px;
}

h4, h5, h6 {
  margin: 0 0 6px;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

abbr[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote {
  border-left: 4px solid #ccc;
  padding: 10px 20px;
  font-size: 1.4em;
  cite {
    margin-top: 5px;
    font-size: 0.7em;
    color: #999;
    font-style: italic;
    display: block;
    &:before {
      color: #999;
      content: "\2014";
      padding-right: 0.5em;
    }
  }
}

a img {
  border: 0;
}

pre {
  margin: 0 0 10px 0;
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em;
}

pre code {
  font-family: "Source Code Pro", monospace;
  border-radius: 5px;
  padding: 10px;
  display: block;
  background-color: #f5f5f5;
}

ul, ol {
  margin-left: 32px;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  ul {
    list-style-type: circle;
  }
}

ol {
  list-style-type: decimal;
  ol {
    list-style-type: lower-alpha;
  }
}

figure {
  text-align: center;
  margin-bottom: 10px;
  figcaption {
    font-style: italic;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button,
button,
input[type=button],
input[type=submit] {
  &, &:link, &:visited {
    background-color: #f1f1f1;
    border: none;
    border-bottom: 2px solid #999;
    color: #333;
    line-height: normal;
    text-decoration: none;
    padding: 6px 12px 4px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
  }
  &:hover, &:active {
    background-color: #ddd;
  }
  &:active {
    box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.15);
    outline: none;
  }
  &[disabled] {
    &, &:hover, &:active {
      background-color: #f1f1f1;
      border-color: #ccc;
      color: #999;
      cursor: default;
      box-shadow: none;
      outline: none;
    }
  }
}

.text,
input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=time],
input[type=datetime],
textarea,
select {
  padding: 5px 12px 5px;
  display: block;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fff;
  box-shadow: inset 0 1px 2px darken(#fff, 10%);
  color: #999;
  width: 100%;
  
  &[data-error],
  &.error{
    background-color: #fee;
    border: 1px solid #f55;
  }
  
  &:focus {
    color: #222;
    border: 1px solid $color1;
    box-shadow: 0 0 3px $color1;
    outline: 0;
  }
}

textarea {
  max-width: 100%;
  height: 128px;
}

form {
  margin-bottom: 10px;
  .field {
    margin-bottom: 10px;
    
    input, textarea, select {
      margin: 5px 0;
    }
  }
  label {
    font-weight: bold;
  }
  .star {
    color: #D81413; 
  }
  input[type=checkbox] + label {
    font-weight: normal;
    display: inline;
  }
  p {
    color: #444;
  }
}

