/**
 * Extra Terrestrial theme ??
 * 
 */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 101%;
}

body {
  background-color: #eee;
  text-align: center;
  font-family: "Bitstream Vera Sans", Verdana, "DejaVu Sans", sans-serif;
  font-size: 63%;
  padding-bottom: 20px;
}

small {
  font-size: 0.6em;
}

h1 {
  font-size: 1.7em;
  line-height: 1.2em;
  font-weight: normal;
  color: #000;
  font-family: "Segoe UI", Corbel, "Bitstream Vera Sans", Verdana,
    "DejaVu Sans", sans-serif;
  margin-bottom: 10px;
}

h2 {
  color: #000;
  font-size: 1.3em;
  line-height: 1.2em;
  font-weight: normal;
  margin-bottom: 5px;
  font-family: Corbel, "Segoe UI", "Bitstream Vera Sans", Verdana,
    "DejaVu Sans", sans-serif;
}

h3 {
  font-size: 1.1em;
  color: #000;
  line-height: 1.2em;
  font-weight: normal;
  margin-bottom: 2px;
  font-family: Corbel, "Segoe UI", "Bitstream Vera Sans", Verdana,
    "DejaVu Sans", sans-serif;
}

p {
  line-height: 1.7em;
  margin-bottom: 1.2em;
  color: #222;
}

blockquote {
  font-family: Constantia, Georgia, "Lucida Bright", "DejaVu Serif",
    "Bitstream Vera Serif", "Liberation Serif", serif;
  padding: 1.2em 10px 1px;
  margin-left: -10px;
  font-size: 0.8em;
  background-color: #F0F4F9;
  text-shadow: #C0C0C0 1px 1px 1px;
  color: #222425;
  font-style: italic;
  border-left: 4px solid #88BDF0;
  margin-bottom: 1.2em;
}

ul,ol {
  margin-left: 20px;
  margin-bottom: 1.2em;
}

ul li,ol li {
  line-height: 1.7em;
  list-style-type: square;
}

li ul,li ol {
  margin-bottom: 0px;
}

li li {
  font-size: 0.9em;
  list-style-type: disc;
}

li li li {
  font-size: 0.9em;
  list-style-type: circle;
}

pre,code,samp {
  font-family: Consolas, "Lucida Console", Monaco, "Andale Mono",
    "Bitstream Vera Sans Mono", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", monospace;
}

pre {
  padding: 10px;
  font-size: 1.0em;
  background-color: #F9F9F9;
  color: #202020;
  border: 1px dashed #D0D0D0;
  display: block;
  margin-bottom: 1.2em;
}

img {
  border: 0;
  margin: 0;
  font-size: 10px;
  max-width: 100%;
}

a:link,a:active,a:visited {
  color: #04388E;
  text-decoration: none;
}

a:hover {
  color: #D81413;
  text-decoration: underline;
}

h1 a:link,h1 a:active,h1 a:visited {
  color: #000;
}

h1 a:hover {
  color: #D81413;
}

#main {
  margin: 0 auto;
  width: 950px;
  background-color: #fff;
  min-height: 100%;
  text-align: left;
}

#header {
  background-color: #000;
}

#header img {
  margin-bottom: 2px;
}

#navigation {
  height: 45px;
  font-size: 1.3em;
}

#navigation ul {
  margin: 0 0 0 10px;
}

#navigation li {
  float: left;
  color: #fff;
  list-style-type: none;
  position: relative;
}

#navigation li a:link,#navigation li a:active,#navigation li a:visited {
  line-height: 40px;
  text-decoration: none;
  color: #999;
  padding: 0 10px;
  font-size: 1.0em;
  display: block;
}

#navigation li.selected a:link,#navigation li.selected a:active,#navigation li.selected a:visited
  {
  color: #fff;
}

#navigation li a:hover {
  background-color: #05161e;
  color: #fff;
}

#title {
  height: 50px;
  padding: 0 20px; /*
  margin-bottom:-50px;
  z-index:100;
  position:relative;
  background-color:#000;
  opacity:0.8; */
}

#title h1 {
  color: #fff;
  text-align: left;
  font-size: 3.0em;
  line-height: 50px;
  font-weight: normal;
  float: left;
  padding-right: 20px;
  margin: 0;
}

#title h1 a {
  color: #fff;
  text-decoration: none;
}

#title h2 {
  text-align: right;
  font-style: italic;
  color: #ccc;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 50px;
  margin: 0;
}

#content {
  float: left;
  width: 670px;
  margin: 20px 0 20px 20px;
  font-size: 1.3em;
}

#sidebar {
  float: right;
  width: 200px;
  margin: 20px 20px 20px 0;
  font-size: 1.15em;
}

#sidebar h2 {
  font-weight: bold;
  margin-bottom: 2px;
}

#footer {
  border-bottom: 5px solid #000;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 1.3em;
}

#footer h2 {
  margin: 0;
  font-size: 1.3em;
  line-height: 40px;
  float: left;
}

#powered-by {
  float: right;
  background: transparent url(apakohcms24.png) no-repeat center
    left;
  height: 40px;
  line-height: 40px;
}

#powered-by a:link,#powered-by a:visited,#powered-by a:active {
  padding-left: 30px;
  color: #545454;
  font-style: italic;
  text-decoration: none;
}

#powered-by a:hover {
  text-decoration: underline;
}

#footer h2 a:link,#footer h2 a:visited,#footer h2 a:active {
  color: #000;
  text-decoration: none;
}

.clear {
  clear: both;
}

div.pagination {
  margin-bottom: 1.2em;
  font-weight: bold;
}

div.right {
  float: right;
}

.post { /*border-bottom:1px solid silver;*/
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.comments {
  margin-left: 0;
}

.comments li {
  list-style-type: none;
  border-bottom: 1px solid silver;
  margin-top: 20px;
  padding-bottom: 20px;
}

.comments li ul {
  margin-left: 50px;
}

.comments li li {
  border: 0;
  padding-bottom: 0;
  font-size: 1em;
}

.comment-avatar {
  float: left;
  width: 50px;
}

.comment {
  float: left;
  width: 620px;
}

.comment h2 {
  
}

.byline {
  color: #777;
  font-size: 0.8em;
}

.byline a:link,.byline a:active,.byline a:visited {
  color: #777;
  text-decoration: underline;
}

.byline a:hover {
  color: #D81413;
}

label {
  color: #157;
}

label.disabled {
  color: #999;
}

input,textarea,select {
  font-family: "Bitstream Vera Sans", Verdana, "DejaVu Sans", sans-serif;
  font-size: 15px;
  padding: 0 5px;
}

input.button {
  font-family: "Segoe UI", Corbel, "Bitstream Vera Sans", Verdana,
    "DejaVu Sans", sans-serif;
}

input.text,textarea,select {
  padding: 5px 5px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

input.text:hover,textarea:hover,select:hover {
  background-color: #fefefe;
}

input.text:focus,textarea:focus,select:hover {
  background-color: #fefefe;
  border: 1px solid #666;
  outline: 0;
}

p.error {
  color: #700;
}

p.input {
  color: #777;
  line-height: 1em;
  font-size: 0.8em;
}

p.input strong {
  color: #555;
}

p.input strong span {
  color: #154b7a;
}

p.input label {
  color: #333;
  font-weight: bold;
  font-size: 1.1em;
}

p.input label.radio {
  font-weight: normal;
  font-size: 1em;
}

.star {
  color: #D81413;
}

p.input input.text,p.input textarea,p.input select {
  display: block;
  width: 75%;
  margin-top: 5px;
}

p.input input.password,p.input select {
  width: 50%;
}

p.input input.small {
  display: inline;
  width: 100px;
  margin: 0 5px;
  font-size: 0.9em;
}

p.input textarea {
  height: 100px;
}