@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400|Source+Code+Pro:400,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

html {
  overflow-y: scroll; }

body {
  background-color: #eee;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #111;
  font-size: 14px; }

#main {
  background-color: #fff;
  border-bottom: 5px solid #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  padding: 0 20px;
  text-align: left;
  margin: 0 0 25px; }
  @media screen and (min-width: 768px) {
    #main {
      margin: 0 30px 25px; } }
  @media screen and (min-width: 1010px) {
    #main {
      margin: 0 auto 25px;
      width: 950px; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a, a:link, a:visited, a:hover, a:active {
  color: #04388e;
  text-decoration: none; }
a:hover, a:active {
  color: #d81413;
  text-decoration: underline; }

header {
  background-color: #000;
  color: #fff;
  margin: 0 -20px; }
  header img {
    width: 100%;
    display: block; }
  header nav {
    font-size: 1em; }
    header nav ul {
      margin: 0 0 0 10px; }
    header nav li {
      color: #fff;
      list-style-type: none;
      position: relative;
      display: inline-block;
      height: 50px;
      padding: 5px 0; }
      header nav li a:link, header nav li a:active, header nav li a:visited {
        text-decoration: none;
        color: #999;
        line-height: 40px;
        padding: 0 10px;
        display: block; }
      header nav li a.current {
        color: #fff; }
      header nav li a:hover {
        background-color: #031b33;
        color: #fff; }
  header .title {
    padding: 0 20px; }
    header .title:before, header .title:after {
      content: " ";
      display: table; }
    header .title:after {
      clear: both; }
    header .title {
      *zoom: 1; }
  header .title h1 {
    color: #fff;
    text-align: left;
    font-size: 2.0em;
    line-height: 50px;
    font-weight: normal;
    float: left;
    padding-right: 20px;
    margin: 0; }
  header .title h1 a {
    color: #fff;
    text-decoration: none; }
  header .title h2 {
    text-align: right;
    font-style: italic;
    color: #ccc;
    font-size: 1em;
    font-weight: normal;
    line-height: 50px;
    margin: 0; }

#primary {
  margin: 20px 0 20px 0; }
  @media screen and (min-width: 768px) {
    #primary {
      float: left;
      width: 100%;
      margin-right: -220px;
      overflow: hidden; } }

@media screen and (min-width: 768px) {
  #content {
    margin-right: 220px; } }

aside {
  margin: 20px 0 20px 0; }
  aside .widget {
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-size: 14px;
    color: #444; }
  aside .widget-title {
    font-size: 12px;
    margin-bottom: 10px;
    color: #777;
    text-transform: uppercase;
    margin-left: 10px; }
  aside .widget-content {
    line-height: 20px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px; }
    aside .widget-content ul {
      margin-bottom: 0; }
  @media screen and (min-width: 768px) {
    aside {
      clear: none;
      float: right;
      width: 200px; } }

footer {
  clear: both;
  line-height: 40px; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  footer {
    *zoom: 1; }
  footer:after {
    clear: both; }
  footer h1 {
    margin: 0;
    font-size: 1.2em;
    line-height: 40px;
    float: left; }
    footer h1 a:link, footer h1 a:visited, footer h1 a:active {
      color: #000;
      text-decoration: none; }
  footer .powered-by {
    float: right;
    background: transparent url(../img/jivoo24.png) no-repeat center left;
    height: 40px;
    line-height: 40px; }
    footer .powered-by a:link, footer .powered-by a:visited, footer .powered-by a:active {
      padding-left: 30px;
      color: #545454;
      font-style: italic;
      text-decoration: none; }
    footer .powered-by a:hover {
      text-decoration: underline; }

p {
  margin: 0 0 10px; }

h1, h2, h3 {
  margin: 0 0 10px; }

h4, h5, h6 {
  margin: 0 0 6px; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.1em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.2em; }

abbr[title] {
  border-bottom: 1px dotted #222;
  cursor: help; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

blockquote {
  border-left: 4px solid #ccc;
  padding: 10px 20px;
  font-size: 1.4em; }
  blockquote cite {
    margin-top: 5px;
    font-size: 0.7em;
    color: #999;
    font-style: italic;
    display: block; }
    blockquote cite:before {
      color: #999;
      content: "\2014";
      padding-right: 0.5em; }

a img {
  border: 0; }

pre {
  margin: 0 0 10px 0;
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em; }

pre code {
  font-family: "Source Code Pro", monospace;
  border-radius: 5px;
  padding: 10px;
  display: block;
  background-color: #f5f5f5; }

ul, ol {
  margin-left: 32px;
  margin-bottom: 10px; }

ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.button, .button:link, .button:visited,
button,
button:link,
button:visited,
input[type=button],
input[type=button]:link,
input[type=button]:visited,
input[type=submit],
input[type=submit]:link,
input[type=submit]:visited {
  background-color: #f1f1f1;
  border: none;
  border-bottom: 2px solid #999;
  color: #333;
  line-height: normal;
  text-decoration: none;
  padding: 6px 12px 4px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px; }
.button:hover, .button:active,
button:hover,
button:active,
input[type=button]:hover,
input[type=button]:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #ddd; }
.button:active,
button:active,
input[type=button]:active,
input[type=submit]:active {
  box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.15);
  outline: none; }
.button[disabled], .button[disabled]:hover, .button[disabled]:active,
button[disabled],
button[disabled]:hover,
button[disabled]:active,
input[type=button][disabled],
input[type=button][disabled]:hover,
input[type=button][disabled]:active,
input[type=submit][disabled],
input[type=submit][disabled]:hover,
input[type=submit][disabled]:active {
  background-color: #f1f1f1;
  border-color: #ccc;
  color: #999;
  cursor: default;
  box-shadow: none;
  outline: none; }

.text,
input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=time],
input[type=datetime],
textarea,
select {
  padding: 5px 12px 5px;
  display: block;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 4px;
  background-color: #fff;
  color: #999;
  width: 100%; }
  .text.error,
  input[type=text].error,
  input[type=email].error,
  input[type=password].error,
  input[type=date].error,
  input[type=time].error,
  input[type=datetime].error,
  textarea.error,
  select.error {
    background-color: #fee;
    border: 1px solid #f55; }
  .text:focus,
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  input[type=date]:focus,
  input[type=time]:focus,
  input[type=datetime]:focus,
  textarea:focus,
  select:focus {
    color: #222;
    border: 1px solid #7799bb;
    box-shadow: 0 0 3px #7799bb;
    outline: 0; }

textarea {
  max-width: 100%;
  height: 128px; }

form {
  margin-bottom: 10px; }
  form .field {
    margin-bottom: 10px; }
    form .field input, form .field textarea, form .field select {
      margin: 5px 0; }
  form label {
    font-weight: bold; }
  form .star {
    color: #D81413; }
  form input[type=checkbox] + label {
    font-weight: normal;
    display: inline; }
  form p {
    color: #444; }

div.pagination {
  margin-bottom: 1.2em;
  font-weight: bold; }
  div.pagination .right {
    float: right; }
  div.pagination:after {
    content: ' ';
    display: block;
    clear: right; }

.post {
  padding-bottom: 20px;
  margin-bottom: 10px; }
  .post h1 a:link, .post h1 a:active, .post h1 a:visited {
    text-decoration: none;
    color: inherit; }
  .post h1 a:hover {
    text-decoration: underline;
    color: #d81413; }

.byline {
  color: #777;
  font-size: 0.8em; }

.byline a:link, .byline a:active, .byline a:visited {
  color: #777;
  text-decoration: underline; }

.byline a:hover {
  color: #D81413; }

#comment input[name="cancel"] {
  display: none; }

.comments {
  margin-left: 0; }
  .comments li {
    list-style-type: none;
    border-top: 1px solid #ddd;
    padding: 20px 0; }
    .comments li ul {
      margin-left: 50px; }
    .comments li li {
      border: 0;
      padding-bottom: 0;
      font-size: 1em; }
    .comments li:first-child {
      border: none; }
    .comments li.op .author .title {
      background-color: #7799bb;
      color: #fff; }
    .comments li:target {
      background-color: #ffe; }
  .comments .comment-avatar {
    float: left;
    width: 60px; }
  .comments .comment {
    margin-left: 60px; }
    .comments .comment .author {
      font-size: 1.1em;
      margin-bottom: 5px;
      font-weight: bold; }
      .comments .comment .author .title {
        font-weight: normal;
        font-size: 0.6em;
        padding: 2px 5px;
        border-radius: 3px;
        margin-left: 10px; }
      .comments .comment .author .parent {
        font-size: 0.8em;
        font-weight: normal;
        margin-left: 10px;
        color: #777; }
    .comments .comment .content {
      margin-bottom: 10px; }
      .comments .comment .content p {
        margin-bottom: 0;
        margin-top: 10px; }
        .comments .comment .content p:first-child {
          margin: 0; }
    .comments .comment #comment {
      margin-top: 20px; }
      .comments .comment #comment h2 {
        display: none; }
      .comments .comment #comment input[name="cancel"] {
        display: inline; }
