@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400|Source+Code+Pro:400,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

html {
  overflow-y: scroll; }

body {
  background-color: #eee;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #111;
  font-size: 14px; }

#main {
  background-color: #2272CC;
  display: block;
  text-align: left;
  margin: 0 0 25px;
  padding-bottom: 5px; }
  @media screen and (min-width: 768px) {
    #main {
      border-radius: 5px;
      margin: 0 30px 25px; } }
  @media screen and (min-width: 992px) {
    #main {
      margin: 100px auto 25px auto;
      width: 932px; } }

header {
  color: #fff; }
  @media screen and (min-width: 768px) {
    header {
      height: 48px; } }
  header .title {
    height: 48px;
    line-height: 48px;
    font-size: 24px;
    margin-left: 20px; }
    header .title, header .title:link, header .title:visited, header .title:hover, header .title:active {
      color: #fff;
      text-decoration: none; }
  header nav {
    background-color: #eee; }
    header nav ul {
      list-style-type: none;
      margin: 0; }
      header nav ul li {
        display: block; }
        @media screen and (min-width: 768px) {
          header nav ul li {
            float: left; } }
        header nav ul li a {
          display: block;
          padding: 10px 20px; }
          @media screen and (min-width: 768px) {
            header nav ul li a {
              padding: 0 20px;
              height: 48px; } }
          header nav ul li a, header nav ul li a:link, header nav ul li a:visited, header nav ul li a:active {
            color: #444;
            text-decoration: none; }
            @media screen and (min-width: 768px) {
              header nav ul li a, header nav ul li a:link, header nav ul li a:visited, header nav ul li a:active {
                color: #fff; } }
          header nav ul li a:hover {
            color: #2272cc;
            text-decoration: none;
            background-color: #ddd; }
            @media screen and (min-width: 768px) {
              header nav ul li a:hover {
                color: #fff;
                background-color: #164B87; } }
    @media screen and (min-width: 768px) {
      header nav {
        background-color: transparent;
        margin-right: 20px;
        float: right;
        line-height: 48px; } }

#primary {
  background-color: #fff;
  padding: 20px; }

@media screen and (min-width: 768px) {
  #content {
    float: left;
    width: 100%;
    margin-right: -200px;
    padding-right: 200px;
    overflow: hidden; } }

aside {
  margin-bottom: 20px; }
  aside .widget {
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-size: 14px;
    color: #444; }
  aside .widget-title {
    font-size: 12px;
    margin-bottom: 10px;
    color: #777;
    text-transform: uppercase; }
  aside .widget-content {
    line-height: 20px;
    border-radius: 5px; }
    aside .widget-content form {
      margin: 0; }
    aside .widget-content ul, aside .widget-content ol {
      margin-bottom: 0;
      margin-left: 15px;
      list-style-type: none; }
      aside .widget-content ul li:first-child, aside .widget-content ol li:first-child {
        border: none; }
      aside .widget-content ul li, aside .widget-content ol li {
        padding: 2px 0;
        border-top: 1px solid #ddd; }
      aside .widget-content ul.menu li, aside .widget-content ol.menu li {
        padding: 0; }
        aside .widget-content ul.menu li > a, aside .widget-content ol.menu li > a {
          display: block;
          padding: 2px 0; }
    aside .widget-content > ul {
      margin-left: 0; }
  @media screen and (min-width: 768px) {
    aside {
      clear: none;
      float: right;
      width: 180px; } }

footer {
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a, a:link, a:visited, a:hover, a:active {
  color: #2272cc;
  text-decoration: none; }
a:hover, a:active {
  color: #cc2222;
  text-decoration: underline; }

p {
  margin: 0 0 10px; }

h1, h2, h3 {
  margin: 0 0 10px; }

h4, h5, h6 {
  margin: 0 0 6px; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.1em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.2em; }

abbr[title] {
  border-bottom: 1px dotted #222;
  cursor: help; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

blockquote {
  border-left: 4px solid #ccc;
  padding: 10px 20px;
  font-size: 1.4em; }
  blockquote cite {
    margin-top: 5px;
    font-size: 0.7em;
    color: #999;
    font-style: italic;
    display: block; }
    blockquote cite:before {
      color: #999;
      content: "\2014";
      padding-right: 0.5em; }

a img {
  border: 0; }

pre {
  margin: 0 0 10px 0;
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em; }

pre code {
  font-family: "Source Code Pro", monospace;
  border-radius: 5px;
  padding: 10px;
  display: block;
  background-color: #f5f5f5; }

ul, ol {
  margin-left: 32px;
  margin-bottom: 10px; }

ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }

figure {
  text-align: center;
  margin-bottom: 10px; }
  figure figcaption {
    font-style: italic; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.button, .button:link, .button:visited,
button,
button:link,
button:visited,
input[type=button],
input[type=button]:link,
input[type=button]:visited,
input[type=submit],
input[type=submit]:link,
input[type=submit]:visited {
  background-color: #f1f1f1;
  border: none;
  border-bottom: 2px solid #999;
  color: #333;
  line-height: normal;
  text-decoration: none;
  padding: 6px 12px 4px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px; }
.button:hover, .button:active,
button:hover,
button:active,
input[type=button]:hover,
input[type=button]:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #ddd;
  color: #2272cc;
  border-color: #2272cc; }
.button:active,
button:active,
input[type=button]:active,
input[type=submit]:active {
  box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.15);
  outline: none; }
.button[disabled], .button[disabled]:hover, .button[disabled]:active,
button[disabled],
button[disabled]:hover,
button[disabled]:active,
input[type=button][disabled],
input[type=button][disabled]:hover,
input[type=button][disabled]:active,
input[type=submit][disabled],
input[type=submit][disabled]:hover,
input[type=submit][disabled]:active {
  background-color: #f1f1f1;
  border-color: #ccc;
  color: #999;
  cursor: default;
  box-shadow: none;
  outline: none; }

.text,
input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=time],
input[type=datetime],
textarea,
select {
  padding: 5px 12px 5px;
  display: block;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  background-color: #fff;
  box-shadow: inset 0 1px 2px #e6e6e6;
  color: #999;
  width: 100%; }
  .text[data-error], .text.error,
  input[type=text][data-error],
  input[type=text].error,
  input[type=email][data-error],
  input[type=email].error,
  input[type=password][data-error],
  input[type=password].error,
  input[type=date][data-error],
  input[type=date].error,
  input[type=time][data-error],
  input[type=time].error,
  input[type=datetime][data-error],
  input[type=datetime].error,
  textarea[data-error],
  textarea.error,
  select[data-error],
  select.error {
    background-color: #fee;
    border: 1px solid #f55; }
  .text:focus,
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  input[type=date]:focus,
  input[type=time]:focus,
  input[type=datetime]:focus,
  textarea:focus,
  select:focus {
    color: #222;
    border: 1px solid #6da6e7;
    box-shadow: 0 0 3px #6da6e7;
    outline: 0; }

textarea {
  max-width: 100%;
  height: 128px; }

form {
  margin-bottom: 10px; }
  form .field {
    margin-bottom: 10px; }
    form .field input, form .field textarea, form .field select {
      margin: 5px 0; }
  form label {
    font-weight: bold; }
  form .star {
    color: #D81413; }
  form input[type=checkbox] + label {
    font-weight: normal;
    display: inline; }
  form p {
    color: #444; }

.flash {
  background-color: #eee;
  font-size: 0.9em;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-left: 4px solid #2272CC;
  box-shadow: 1px 2px 1px #e6e6e6; }
  .flash.flash-info {
    border-color: #cccc22; }
    .flash.flash-info:before {
      color: #cccc22; }
  .flash.flash-error {
    border-color: #cc2222; }
    .flash.flash-error:before {
      color: #cc2222; }
  .flash.flash-warn {
    border-color: #cc7222; }
    .flash.flash-warn:before {
      color: #cc7222; }
  .flash.flash-success {
    border-color: #50CC22; }
    .flash.flash-success:before {
      color: #50CC22; }
  .flash.flash-question {
    border-color: #2272CC; }
    .flash.flash-question:before {
      color: #2272CC; }

#chat-log {
  height: 400px;
  border-bottom: 1px solid #eee;
  margin: -20px;
  padding: 20px;
  margin-bottom: 20px;
  overflow-y: scroll; }
  #chat-log .message .message-author {
    font-weight: bold; }
    #chat-log .message .message-author:after {
      content: ':';
      margin-right: 10px; }
  #chat-log .message.message-anonymous .message-author {
    font-style: italic;
    color: #999; }

#Message {
  text-align: right; }
  #Message input[type=submit] {
    margin-top: 10px; }
