* {
  padding: 0;
  margin: 0;
}

body {
  background:#eee url(../img/background.png) top repeat-x fixed;
  font-family:"Segoe UI", Tahoma, Arial, sans-serif;
  font-size:63%;
}

h1 {
  font-size:40px;
  color:#252830;
  font-weight:normal;
  line-height:150px;
}

h2 {
  font-size:20px;
  color:#252830;
  font-weight:normal;
  margin:5px 0 10px;
}

strong, em {
  color:#252830;
}

#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:50px;
}

#header #bar {
  background:#000 url(../img/header.png) repeat-x;
  height:32px;
  color:#fff;
  border-top:1px solid #666;
  border-bottom:1px solid #222;
}

#header #shadow {
  background:transparent url(../img/header-shadow.png) repeat-x;
  height:16px;
}

#header div.right {
  line-height:32px;
  font-size:1.6em;
  text-align:right;
  float:right;
  padding-right:40px;
  margin-right:8px;
  text-shadow:1px 1px 2px #000;
}

#header div.loading {
  padding-right:40px;
  margin-right:8px;
  background:transparent url(../img/loading.gif) no-repeat right top;
}

#header div.right a:link,
#header div.right a:visited,
#header div.right a:active {
  text-decoration:none;
  color:#fff;
}

#header div.right a:hover {
  text-decoration:underline;
}

#content {
  margin-top:64px;
  margin-bottom:64px;
  text-align:center;
}

#content a:link, #content a:visited, #content a:active {
  text-decoration:none;
  color:inherit;
}

#content a:hover {
  text-decoration:underline;
  color:inherit;
}

.footer {
  position:fixed;
  bottom:0px;
  padding:4px 16px;
  background-color:#ddd;
  color:#666;
  font-size:1.2em;
}

.footer a:link, .footer a:visited, .footer a:active {
  color:inherit;
  font-weight:bold;
  text-decoration:none;
} 

.footer a:hover {
  color:inherit;
  font-weight:bold;
  text-decoration:underline;
}

#poweredby {
  left:0px;
  border-top-right-radius:4px;
}

#links{
  right:0px;
  border-top-left-radius:4px;
}


.section {
  margin:16px 0;
  text-align:left;
}

.header_section h1 {
  text-align:center;
  font-size:4.5em;
  line-height:normal;
  margin:128px 0 32px;
  color:#242930;
}

.header_section h1 a:link, .header_section h1 a:visited, .header_section h1 a:active {
  color:inherit;
  text-decoration:none;
  font-weight:normal!important;
} 

.header_section h1 a:hover {
  color:inherit;
  text-decoration:underline;
  font-weight:normal!important;
}

.container {
  margin:0 auto;
  width:768px;
}

.container .error {
  color:#a22121;
}

.narrow_container {
  width:368px;
}

.dark_section {
  background:#242930 url(../img/dark-shadow.png) repeat-x top;
  color:#fff;
  padding:16px 0 16px;
  margin:0;
}

.light_section {
  padding:8px 0;
  margin:16px auto;
  width:832px;
  background-color:#f5f5f5;
  border-radius:4px;
  box-shadow:0 0 32px 0px #ccc;
}

.light_section .container {
  font-size:1.2em;
}

.light_section h2 {
  margin-left:-8px;
  margin-top:0px;
}

.top_shadow {
  background:transparent url(../img/top-shadow.png) repeat-x;
  height:16px;
}

.bottom_shadow {
  background:transparent url(../img/header-shadow.png) repeat-x;
  height:16px;
  margin-bottom:16px;
}

.center {
  text-align:center;
}

p {
  margin-bottom:16px;
  text-align:left;
  font-size:1.3em;
}

p.right {
  text-align:right;
}

input {
  font-family:"Segoe UI", Tahoma, Arial, sans-serif;
}

input.text, textarea {
  font-size: 12px;
  width:750px;
  padding:4px 8px;
  border:1px solid #999;
  border-radius:4px;
  color:#333;
  font-family:"Segoe UI", Tahoma, Arial, sans-serif;
  background-color:#fff;
}

.narrow_container input.text, .narrow_container textarea {
  width:350px;
}

input.bigtext {
  font-size:20px;
}

input.text:focus, textarea:focus {
  outline:none;
  box-shadow:0 0 16px 0px #444;
}

.dark_section input.text:focus, .dark_section textarea:focus {
  box-shadow:0 0 16px 0px #aaa;
}

.light_section input.text:focus, .light_section textarea:focus {
  box-shadow:0 0 16px 0px #999;
}

div.input {
  margin:8px 0;
}

div.bulk-actions {
  margin:-8px 0;
}

div.bulk-actions .checkbox {
  margin-left:-29px;
}

div.bulk-actions .actions {
  margin-right:3px;
}

div.bulk-actions .checkbox-text {
  float:left;
  color:#666;
}

div.record {
  padding:8px 0;
  margin-left:-32px;
  margin-right:-32px;
  border-top:1px solid #e5e5e5;
  border-left:3px solid transparent;
  border-right:3px solid transparent;
}

div.record.red {
  border-left:3px solid #c00;
  border-right:3px solid #c00;
}

div.record.green {
  border-left:3px solid #0c0;
  border-right:3px solid #0c0;
}

div.record.yellow {
  border-left:3px solid #fc0;
  border-right:3px solid #fc0;
}

div.record.first {
  border-top:0;
}

div.record:hover {
  background-color:#eee;
}

div.record .header {
  margin-right:32px;
  margin-left:32px;
}

div.record .body {
  margin-top:8px;
  margin-left:32px;
  margin-right:32px;
}

.block10, .block15, .block20, .block25, .block30, .block75, .block100 {
  float:left;
}

.block10 { width:10%; }
.block15 { width:15%; }
.block20 { width:20%; }
.block25 { width:25%; }
.block30 { width:30%; }
.block75 { width:75%; }
.block100 { width:100%; }

.margin5 { margin-right:5%; }

div.record .author {
  margin-right:5%;
}

div.record .title {
  font-weight:bold;
}

div.record .state {
  font-weight:bold;
}

div.record .date {
  font-weight:bold;
}

div.bulk-actions .actions,
div.record .actions {
  float:right;
  position:relative;
}

div.bulk-actions .checkbox, 
div.record .checkbox {
  float:left;
  width:32px;
  text-align:center;
}

div.record .actions a {
  margin-left:16px;
  font-weight:bold;
}

div.record .comment-status {
  font-weight:bold;
  margin-top:8px;
}

div.pagination {
  line-height:17px;
}

div.pagination .predefined {
  position:relative;
}

div.pagination .predefined .menubutton {
  left:0;
  right:auto;
}

div.pagination .older {
  font-weight:bold;
}

div.pagination .filter input.text {
  width:100%;
  padding-top:0;
  padding-bottom:0;
}

div.pagination .newer {
  float:right;
  width:15%;
  text-align:right;
  font-weight:bold;
}

.section .separator {
  border-bottom:1px solid #ccc;
} 

.dark_section .separator {
  border-bottom:1px solid #1b1f2a;
} 

.light_section .separator {
 border-bottom:1px solid #e5e5e5;
 margin-left:-32px;
 margin-right:-32px;
}

div.input p.label {
  float:left;
  width:172px;
  line-height:21px;
  margin:0;
  color:#252830;
  font-size:16px;
}

.dark_section div.input p.label {
  color:#fff;
}

.light_section div.input p.label,
.dark_section div.input p.label {
  font-size:12px;
}

.light_section div.input p.label {
  color:#555;
}

div.input div.element {
}

div.input input.text {
  width:172px;
}

.permalink-wrapper {
  background-color:#fff;
  display:inline;
  font-size: 12px;
  padding:4px 8px;
  border:1px solid #aaa;
  border-radius:4px;
  color:#666;
}

.permalink-wrapper-focus {
  box-shadow:0 0 16px 0px #444;
}

.dark_section .permalink-wrapper-focus {
  box-shadow:0 0 16px 0px #aaa;
}

input.permalink {
  border:0;
  padding:0;
  background:transparent;
}

.section input.permalink:focus {
  box-shadow:none;
}

textarea {
  font-size:12px;
  height:196px;
}

.button {
  width:128px;
}

.publish {
  font-weight:bold;
}

.cirkuitSkin table.mceLayout {
  border-left: 1px solid #999!important;
  border-right: 1px solid #999!important;
        border-radius:4px;
}

.cirkuitSkin table.mceLayout tr.mceFirst td.mceToolbar {
  border-top: 1px solid #999!important;
        border-top-left-radius:4px;
        border-top-right-radius:4px;
}

.cirkuitSkin table.mceLayout tr.mceLast td {
  border-bottom: 1px solid #999!important;
        border-bottom-left-radius:4px;
        border-bottom-right-radius:4px;
}

div.left {
  float:left;
}

div.aright {
  text-align:right;
}

div.clearl {
  clear:left;
}

#settings {
  display:none;
}

label.small {
  display:block;
  text-align:left;
  font-size:0.9em;
  text-transform: uppercase;
  font-weight:bold;
  color:#aaa;
}

.dark_section label.small {
/* color:#15191D; dark*/
  color:#5A5D61;
}

span.description {
  display:block;
  text-align:right;
  font-style: italic;
  color:#777;
}

.menubar {
  float:left;
  margin-top:4px;
  background-color:#111;
  border-radius:6px;
  height:24px;
  z-index:300004;
  margin-left:16px;
}

.menubar a:link,
.menubar a:active,
.menubar a:visited,
.menubar a:hover {
  color:inherit;
  text-decoration:none;
  display:block;
}

.menubar .menu {
  float:left;
  width:140px;
  background:transparent url(../img/menu-arrow.png) no-repeat right 8px;
  list-style-type: none;
}

.menubar .menu .header {
  font-size:1.2em;
  padding:4px 0 4px 0;
  color:#fff;
}

.menubar .menu .header a:link,
.menubar .menu .header a:active,
.menubar .menu .header a:visited {
  padding:0 0 0 8px;
}

.menubutton {
  /*background-color:#111;*/
  background-color:#22252d;
  min-width:96px;
  color:#fff;
  padding:0;
  box-shadow:2px 2px 8px 0px #666;
  border-radius:6px;
  font-size:11px;
  position:absolute;
  right:0px;
}

.menubutton li {
  display:none;
}

.menubutton li.first {
  display:list-item;
}

.menubutton li.first a,
.menubutton li.first input {
  background:transparent url(../img/menu-arrow.png) no-repeat right 4px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
}

.menubutton li:last-child a,
.menubutton li:last-child input {
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}

.menubutton li a:link,
.menubutton li a:active,
.menubutton li a:visited,
.menubutton li input {
  color:#fff;
  text-align:left;
  font-size:100%;
  background-color:transparent;
  border:0;
  padding:2px 24px 2px 8px;
  line-height:100%;
  margin:0;
  font-weight:normal;
  text-decoration:none;
  display:block;
}

.menubutton li input {
  width:100%;
  cursor:pointer;
}

.menubutton li a:hover,
.menubutton li a:focus,
.menubutton li input:hover,
.menubutton li input:focus {
  /*background-color:#333;*/
  background-color:#393d45;
  line-height:100%;
  margin:0;
  font-weight:normal;
  outline:none;
  text-decoration:none!important;
}

.menubutton li.red a:link,
.menubutton li.red a:active,
.menubutton li.red a:visited,
.menubutton li.red input {
  background-color:#500;
}

.menubutton li.red a:hover,
.menubutton li.red a:focus,
.menubutton li.red input:hover,
.menubutton li.red input:focus  {
  background-color:#800;
}

.menubar .menu .items {
  margin-top:4px;
  background-color:#111;
  border-radius:6px;
  font-size:1.1em;
  padding:4px 0;
  box-shadow:2px 2px 16px 0px #000;
  display:none;
  position:relative;
}

.menubar .menu .items .item,
.menubutton li {
  list-style-type: none;
}

.menubar .menu .items .item a:link,
.menubar .menu .items .item a:active,
.menubar .menu .items .item a:visited {
  padding:8px 0 8px 16px;
}

.menubar .menu .items .item a:hover,
.menubar .menu .items .item a:focus {
  background-color:#333;
  outline:none;
}

.menubar .menu .item .key {
  float:right;
  color:#666;
  margin-right:20px;
  font-family: Verdana, sans-serif; /* hm.. segoe ui has some weird inconsistencies with character placement */
}

.menubar .menu .items .separator {
  margin:4px 0;
  border-bottom:1px solid #222;
  font-size:0;
}

.db_driver h2 {
  float:left;
  width:196px;
  height:48px;
  line-height:48px;
  margin:0;
}

.db_driver p {
  float:left;
  width:444px;
  height:48px;
  margin:0;
  line-height:48px;
  color:#383C44;
}

.db_driver .button_container {
  float:left;
  width:128px;
  height:48px;
  line-height:48px;
}

.notification {
  color:#000;
  border-radius:8px;
  padding:4px 16px;
  font-size:1.2em;
}

.notification-error {
  color:#fff;
  background-color:#a22121;
  box-shadow:0 0 8px 0px #a22121;
}

.notification-warning {
  background-color:#DD9F3B; /*#DF9113*/
  box-shadow:0 0 8px 0px #DD9F3B;
}

.notification-notice {
  background-color:#86DA81;/*#7EDB79;*/
  box-shadow:0 0 8px 0px #86DA81;
}

.notification strong{
  color:inherit;
  margin-right:16px;
}
