#header #bar {
  background:#000 url(../img/header-fatal.png) repeat-x;
}
  	
#sad {
  font-size:100px;
  color:#540303;
  float:left;
  margin-right:30px;
}

h1 {
  font-size:40px;
  color:#540303;
  font-weight:normal;
  line-height:150px;
}

h2 {
  font-size:20px;
  color:#540303;
  font-weight:normal;
  margin:5px 0 10px;
}

strong, em {
  color:#540303;
}

code {
  font-family:Consolas, monospace;
}

table.trace {
  width:100%;
  border-collapse:collapse;
  border:solid 1px #540303;
  font-size:1.2em;
}
table thead tr {
  background-color:#705151;
}
table thead th {
  color:#fff;
  padding:2px 4px 2px 4px;
  font-weight:normal;
}
table.trace tr.odd {
  background-color:#fff;
}
table.trace tr.even {
  background-color:#EEE;
}
table.trace td {
  padding:2px 4px 2px 4px;
}